<div>
    <h2>Todo listo para trabajar con socket</h2>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{{!-- 1er: socket --}}
<script src="/socket.io/socket.io.js"></script>

{{!-- 2do: script .js de la carpeta public/cliente --}}
<script src="/js/index.js"></script>